<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <meta name="description" content="A cool thing made with Glitch" />
    <!-- Latest compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css" />

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat&display=swap"
      rel="stylesheet"
    />
    <!-- import the webpage's stylesheet -->

    <link rel="stylesheet" href="/styles.css" />

    <!-- import the webpage's client-side javascript file -->
    <script src="/script.js" defer></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <button class="menu-toggle"></button>
    <nav>
      <ul class="menu">
        <a href="/">
          <li data-text="Welcome">Home</li>
        </a>
        <a href="work.html">
          <li data-text="CS50">Work</li>
        </a>
        <a href="aboutme.html">
          <li data-text="Stephan F">About Me</li>
        </a>
      </ul>
    </nav>

    <link
      href="https://fonts.googleapis.com/css?family=Special+Elite&display=swap"
      rel="stylesheet"
    />
    <div class="toptext">
      <h1 class="fonted">MY WORK</h1>

      <a href="https://cs50.harvard.edu/college/2021/spring/">
        <h3>
          A compilation of all my coursework. This text will take you to the
          CS50 website.
        </h3>
      </a>

      <a href="https://gist.github.com/discover">
        <h3>
          If you want to know how I am easily embedding my code from past
          projects click this text.
        </h3>
      </a>
    </div>

    <div class="row">
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Syntax</h1>
        <script src="https://gist.github.com/454852/a6c82e673dda52f2e6d52bf401eb25d1.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Variables</h1>
        <script src="https://gist.github.com/454852/e64fe54eccffa369798a40ab630a9da5.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Placeholders</h1>
        <script src="https://gist.github.com/454852/76a061481ebd8ab35317881c31d61d1f.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Datatypes</h1>
        <script src="https://gist.github.com/454852/f3c5abbd3c80463f8f0495953032682f.js"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6" style="background-color:lavender;">
        <h1 class="projectlabel">Operators</h1>
        <script src="https://gist.github.com/454852/65c199814596b68392139b78f990ba11.js"></script>
      </div>
      <div class="col-sm-6" style="background-color:lavender;">
        <h1 class="projectlabel">Booleans</h1>
        <script src="https://gist.github.com/454852/97312e9120a59775c12de4ad927e7965.js"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">While</h1>
        <script src="https://gist.github.com/454852/c924734c1690a55387be0aeeac4d90ff.js"></script>
      </div>
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Do while</h1>
        <script src="https://gist.github.com/454852/371bc3ebd239297c3373a6583361e0ed.js"></script>
      </div>
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">For loop</h1>
        <script src="https://gist.github.com/454852/3948fdce70987463ef9804e6054515c3.js"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Magic</h1>
        <script src="https://gist.github.com/454852/4cf239a540efdeb21c9e89b4d9959d15.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Functions</h1>
        <script src="https://gist.github.com/454852/ba91bdc562a5189ff675b6aa6912dd44.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Array</h1>
        <script src="https://gist.github.com/454852/e5f232f69a7849824dc54fe01758845a.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">String</h1>
        <script src="https://gist.github.com/454852/3c5f7852dbd0dead15f14393e0093163.js"></script>
      </div>
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Commandline</h1>
        <script src="https://gist.github.com/454852/49c7d83e5065b7ba2129ed4990644acc.js"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Exit</h1>
        <script src="https://gist.github.com/454852/36f729103d2fd258ed24c1389bef56eb.js"></script>
      </div>
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Typecasting</h1>
        <script src="https://gist.github.com/454852/f71064d43dc2a514a0d89a9792c010bf.js"></script>
      </div>

      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Buggy</h1>
        <script src="https://gist.github.com/454852/4ded9ff2e4046d04cb76efdfd27cbdef.js"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2FMarioNSMBUDeluxe.png?v=1617718071906"
        />
      </div>
      <div class="col-sm-8" style="background-color:lavender;">
        <h1 class="labelbig">Mario</h1>
        <script src="https://gist.github.com/454852/cd32b65a713eb9f3e21a1984bd3c9c15.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2FMasthead_luigi.17345b1513ac044897cfc243542899dce541e8dc.9afde10b.png?v=1617718250078"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2Fsorting.jpg?v=1617717370539"
        />
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Linear</h1>
        <script src="https://gist.github.com/454852/49a7da8ef9b3fb2feb0b573e3cdc8982.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Bubble</h1>
        <script src="https://gist.github.com/454852/7b121d2af8ce55c72ae6bf109a09ecd5.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Selection</h1>
        <script src="https://gist.github.com/454852/6f3a1d2130bc1f88e71596ca55da2619.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Insertion</h1>
        <script src="https://gist.github.com/454852/9d26995c28759e1c074a320f7fa5842c.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <h1 class="projectlabel">Binary</h1>
        <script src="https://gist.github.com/454852/6dc5f0cb6d50df54d673db7472869092.js"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2Fjulius-2789915_1280-816x1226.jpg?v=1617717515920"
        />
      </div>
      <div class="col-sm-8" style="background-color:lavender;">
        <h1 class="labelbig">Caesar</h1>
        <script src="https://gist.github.com/454852/2fad1f78e19b7c7eb7684b2fc85210f4.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2Fjulius-2789915_1280-816x1226.jpg?v=1617717515920"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2Fmidterm%20election%20voting%20booth_3x2.jpg?v=1617890014549"
        />
      </div>
      <div class="col-sm-8" style="background-color:lavender;">
        <h1 class="labelbig">Runoff</h1>
        <script src="https://gist.github.com/454852/f9e11fb786bf9df337dbb4cf4f006156.js"></script>
      </div>
      <div class="col-sm-2" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2Fmidterm%20election%20voting%20booth_3x2.jpg?v=1617890014549"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Hexadecimal</h1>
        <script src="https://gist.github.com/454852/0719ef903ae79738ed25eb2a97385e10.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">file.io</h1>
        <script src="https://gist.github.com/454852/f8c2918d41768d7209955dbeaa295004.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Students</h1>
        <script src="https://gist.github.com/454852/f6b466dd66f20045917c3362bbe2f7c2.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Mergesort</h1>
        <script src="https://gist.github.com/454852/3ffa1b035741881cb66d746a96d46617.js"></script>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-9" style="background-color:lavender;">
        <h1 class="labelbig">Filter</h1>
        <script src="https://gist.github.com/454852/4337e7d2f59d2fba6d8c00fca818f3b5.js"></script>
      </div>

      <div class="col-sm-3" style="background-color:lavender;">
        <img
          class="caesar"
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2F1536120359_1433711.jpg?v=1617889126676"
        />
      </div>
    </div>

    <div class="row">
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Pointers</h1>
        <script src="https://gist.github.com/454852/6b27a04f2fc158c818e7c02ee2e0762a.js"></script>
      </div>
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Recursion</h1>
        <script src="https://gist.github.com/454852/2f61be9d6246142268187c6fd42eda04.js"></script>
      </div>
      <div class="col-sm-4" style="background-color:lavender;">
        <h1 class="projectlabel">Memory</h1>
        <script src="https://gist.github.com/454852/3e05cf65ac2e39937c21ae0ae6a0963c.js"></script>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-3" style="background-color:lavender;">
        <img
          src="https://cdn.glitch.com/173c05ce-95c8-4762-a06d-5011999ec46a%2F7127Q2CHaRL._AC_SL1500_.jpg?v=1617812918629"
        />
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Hello</h1>
        <script src="https://gist.github.com/454852/49c2fea778dd993ace4df7e545b0ac88.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Python Mario</h1>
        <script src="https://gist.github.com/454852/b2713bf51ea0a4ae5582eae51178525e.js"></script>
      </div>
      <div class="col-sm-3" style="background-color:lavender;">
        <h1 class="projectlabel">Cash</h1>
        <script src="https://gist.github.com/454852/972315f2fc6e4d285b0dc86b257a8ba2.js"></script>
      </div>
    </div>
  </body>
</html>
